body {
    font-family: serif;
}

.ctm-btn {
    width: auto;
    border-radius: 5px;
    background-color: #B68C5A;
    border: none;

}

.ctm-btn-block {
    color: white;
    background-color: #B68C5A;
    border: none;
    display: block;

}

.bg-rpt {
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}

.banner-img-1 {
    background-image: linear-gradient(red, yellow);
    background-image: url("./images/banner.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;


}

.banner-image-1 {
    background-image: url("./images/banner.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
}

.carousel-inner-h {
    height: 550px;
}

.inpt-cstm {
    width: auto;
    height: 40px;
}

.bg-secondary.bg-gradient {}

.banner-image-2 {
    
    background-image: url("./images/slider-1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
}

.banner-image-3 {
    background-image: url("./images/Rectangle7.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
}

.banner-image-4 {
    background-image: url("./images/Rectangle7.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
}

.frm-cstm {
    margin-bottom: 10px;
    width: 300px;
    margin-right: auto;
}
.cstm-send-btn{
    background-color:burlywood;
    padding: 10px 20px;
    
}
.btn:hover{
background-color: orange;
}
.frm-cstm-2{
    padding: 10px;
    border-radius: 10px;
    border: none;
}